.rocket-card {
    background-color: rgb(0, 0, 0, 0.7);
}

.rocketSize {
    width: 128px;
}

.iconSize {
    width: 64px;
}

.menu-image {
    object-fit: cover;
    max-height: 300px;
    min-width: 100%;

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5);
}

.rocketInfo:hover .overlay {
    opacity: 1;
}