.launchCard {
    max-width: 700px;
}

.rocket-name {
    position: absolute;
    top: 1;
}

.launch-pad {
    position: absolute;
    top: 1;
}

.modalBackground {
    background: rgb(34, 4, 55, 0.7);
    background: linear-gradient(342deg, rgba(34, 4, 55, 0.7) 0%, rgba(138, 29, 253, 0.7) 50%, rgba(69, 252, 240, 0.7) 100%);
}

.modal-content {
    background-color: rgb(34, 4, 55, 0.0);
}